/* latin-ext */
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arizonia Regular'), local('Arizonia-Regular'), url(https://gstatic.loli.net/s/arizonia/v11/neIIzCemt4A5qa7mv5WPFqwKUQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arizonia Regular'), local('Arizonia-Regular'), url(https://gstatic.loli.net/s/arizonia/v11/neIIzCemt4A5qa7mv5WBFqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.bg-white {
    background-color: rgba(255, 255, 255, 0.75)!important;
}

.html[theme='dark-mode'] {
    filter: invert(1) hue-rotate(180deg);
}

.html[theme='dark-mode'] img,
picture,
video{
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg);
}


.btn-copy {
    color: #fdfdff;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .3rem;
    background-color: #00a2ff;
    border-color: #fff;
}
.btn-hero-primary {
    text-transform: none!important;
}

.icon-info {
    color: #3884ff!important;
}


.text-dark {
    font-family: 'Arizonia', cursive;
    font-size: 3rem!important;
}
.note {
    font-size: 14px;
    font-weight: 600;
    border: initial;
    border-left: 4px solid #3884ff;
    color: #4c4948;
    background: #eef7fa;
    position: relative;
    margin: 0 0 1rem;
    padding: 24px;
    border-radius: 3px;
    padding-left: 2.65rem;
    margin-top: 32px;
    margin-bottom: 32px;
}


.note.warning {
    border-left-color: #e04f1a;
    background: #ffd9d9;
}

.note.green {
    border-left-color: #538c24;
    background: #80dfa9;
}
.node.wred{
    border-left-color: #ff0000
    background: #d9d9d9;
}
.node.wblue{
    border-left-color: #3b5998;
    background: #d9d9d9;
}



.note> .span:before{
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    top: calc(50% - .8rem);
    left: .7rem;
    font-size: larger;
}


.note> .war:before {
    content: "\f071";
    color: #f5222d;
}


.note> .info:before {
    content: "\f06a";
    color: #3b5998;
}

.reset-3c756112--hintIcon-7c7981dd--paragraph-ae3112d0 {
    top: 14px;
    left: 16px;
    margin: 0;
    display: block;
    padding: 0;
    position: absolute;
    font-size: 24px;
}
.blockParagraph-544a408c {
    color: inherit;
    margin: 0;
    position: relative;
    margin-bottom: 24px;
}
.reset-3c756112--blockHint-a7403a60 {
    width: 100%;
    margin: 0;
    display: block;
    padding: 24px 24px calc(1px / 10) 50px;
    position: relative;
    margin-top: 32px;
    border-left: 4px solid;
    border-radius: 3px;
    margin-bottom: 32px;
    background-color: #F5F7F9;
}

@media only screen and (max-width: 800px) {
    .docsimg {
        height: auto;
        width: 100%;
        
    }
}